body{
  margin:0;
  background-color: #f3a683;
}

.App{
  background: #778beb;
  margin:20px auto;
  width: 90%;
  max-width: 700px;
  border-radius: 10px;
}

.navbar{
  padding: 10px 20px;
  text-align: center;
  background-color: #e77f67;
  border-radius: 10px 10px 20px 20px;
}

.navbar h1{
  margin:10px 0;
}

.book-list{
  margin:20px;
}

.book-list li{
  background-color: #e77f67;
  border-radius: 4px;
  padding:10px;
  cursor: pointer;
  margin:10px;
  margin-bottom:5px;
}

.book-list li:hover{
  opacity:0.7;
  text-decoration: line-through;
}

.book-list .title{
  font-weight: bold;
  font-size: 1.2em;
}

.book-list .author{
  font-size: 0.9em;
}

.empty{
  margin:20px;
  text-align: center;
  font-weight: bold;
  padding-bottom: 20px;
}

form{
  padding:20px;
}

input[type='text']{
  width: 100%;
  padding:10px;
  box-sizing: border-box;
  margin:6px 0;
  background-color: #e77f67;
  color: #000;
  border: 0;
}


::placeholder{
  color:#fff;
}

input[type='submit']{
  margin:10px auto;
  background: #fff;
  border:0;
  border-radius: 10px;
  padding:6px 20px;
  display: block;
  cursor: pointer;
}
